.git
.github
.idea
.vscode
**/target
**/logs
**/*.log

.env
.env.*
!.env.example
**/application-local*.yml
**/application-local*.yaml
**/*.pem
**/*.key

**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/*.tfvars
**/*.tfvars.json